.content__open {
    width: 500px;
    height: 1921px;
    background-color: #ECECEC;
    box-shadow: 5px 10px black;
    margin: 55px;
}

.restaurant__title {
    background-color: #ECECEC;
    height: 190px;
}

.content__food {
    width: 800px;
    height: 600px;
    background-color: #ECECEC;
    margin: 90px;
}

.content__menu {
    width: 500px;
    height: 255px;
    background-color: #ECECEC;
    box-shadow: 5px 10px black;
    margin-top: 56px;
}

.content__title {
    display: flex;
    flex-flow: row;
    margin-left: 34px;
    padding-top: 28px;
}

.clock--image {
    height: 30px;
}

.calendar--image {
    height: 30px;
}

.content__schedules {
    width: 2000px;
    height: 900px;
    background-color: #ECECEC;
    margin: 90px;
}

.content__facebook {
    width: 500px;
    height: 255px;
    background-color: #ECECEC;
    box-shadow: 5px 10px black;
    margin-top: 200px;
    margin: 55px;
}

.facebook--image {
    height: 30px;
}

.content__twitter {
    width: 500px;
    height: 255px;
    background-color: #ECECEC;
    box-shadow: 5px 10px black;
    margin-top: 70px;
    margin: 55px;
}

.twitter--image {
    height: 30px;
}

.staff--stacy {
    border-radius: 50%;
    width: 250px;
}

.staff--kellie {
    border-radius: 50%;
    width: 250px;
}

.staff--john {
    border-radius: 50%;
    width: 250px;
}

.staff--aaron {
    border-radius: 50%;
    width: 250px;
}

.staff--mike {
    border-radius: 50%;
    width: 250px;
}

.staff--lora {
    border-radius: 50%;
    width: 250px;
}

.staff--molli {
    border-radius: 50%;
    width: 250px;
}

.staff--randy {
    border-radius: 50%;
    width: 250px;
}

.staff--philip {
    border-radius: 50%;
    width: 250px;
}