.header__navbar {
    display: flex;
    flex-flow: nowrap;
    justify-content: flex-start;
    margin-right: 50px;
    letter-spacing: 2px;
    padding-left: 54px;
    margin-top: 45px;
}

.header__link {
    font-family: Geometric;
    color: #6a6a6a;
    text-decoration: none;
    margin-right: 58px;
}