* {
 margin: 0;
 padding: 0;
 box-sizing: border-box;
}
html, body {
 height: 100%
}
h1, h2, h3, h4, h5, h6, p {
 margin-bottom: 16px
}

@font-face {
    font-family: Geometric;
    src: url(../fonts/DMSans-Regular.ttf);
}

@font-face {
    font-family: CatamaranNormal;
    src: url(../fonts/Catamaran-Light.ttf);
}

@font-face {
    font-family: CatamaranBold;
    src: url(../fonts/Catamaran-ExtraBold.ttf);
}

@font-face {
    font-family: LatoLight;
    src: url(../fonts/Lato-Light.ttf);
}

.image--active {
    background-color: white;
    padding-left: 20px;
}

.header__options {
    display: flex;
    background-color: #ECECEC;
}

.options--image {
    height: 26px;
    padding-right: 25px;
}

.header__logo {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    margin-top: 38px;
}

.header--chartwells {
    height: 60px;
    padding-left: 54px;
}

.header__button {
    font-family: Geometric;
    color: #6a6a6a;
    text-decoration: none;
}

.header__social {
    display: flex;
    flex-flow: row nowrap;
    float: right;
    margin-top: 23px;
}

.social--image {
    height: 30px;
    margin-left: 19px;
}

.header__navbar {
    display: flex;
    flex-flow: nowrap;
    justify-content: flex-start;
    margin-right: 50px;
    letter-spacing: 2px;
    padding-left: 54px;
    margin-top: 45px;
}

.header__link {
    font-family: Geometric;
    color: #6a6a6a;
    text-decoration: none;
    margin-right: 58px;
}

.header__register {
    display: flex;
    flex-flow: column;
    align-items: flex-end;
    margin-right: 45px;
}

.header__signing {
    float: right;
}

.header--signup {
    margin-left: 25px;
    background-color: #ECECEC;
    color: black;
}

.title__menu {
    font-family: CatamaranBold;
    color: #1F2022;
    margin-left: 120px;
    font-size: 48px;
    margin-top: 65px;
}

.hero__banner {
    background-image: url("../images/header.JPG");
    background-size: cover;
    background-repeat: no-repeat;
    height: 400px;
    width: 100%;
    margin-top: 25px;
}

.content {
    display: flex;
    flex-flow: row;
    margin-top: 30px;
    margin-left: 45px;
}

.content__open {
    width: 500px;
    height: 1921px;
    background-color: #ECECEC;
    box-shadow: 5px 10px black;
    margin: 55px;
}

.restaurant__title {
    background-color: #ECECEC;
    height: 190px;
}

.title__restaurant {
    color: gray;
    font-family: CatamaranBold;
    font-size: 37px;
    margin-left: 130px;
    padding-top: 55px;
}

.kitchen__title {
    font-family: CatamaranBold;
    color: gray;
    padding-left: 45px;
    font-size: 35px;
}

.food__title {
    font-family: CatamaranBold;
    padding-left: 45px;
}

.food__description {
    font-family: LatoLight;
    padding-left: 45px;
}

.content__food {
    width: 800px;
    height: 600px;
    background-color: #ECECEC;
    margin: 90px;
}

.content__menu {
    width: 500px;
    height: 255px;
    background-color: #ECECEC;
    box-shadow: 5px 10px black;
    margin-top: 56px;
}

.content__title {
    display: flex;
    flex-flow: row;
    margin-left: 34px;
    padding-top: 28px;
}

.content__title p {
    font-family: CatamaranBold;
    font-size: 20px;
    color: crimson;
    margin-left: 23px;
}

.clock--image {
    height: 30px;
}

.hours__title {
    font-family: CatamaranBold;
    color: gray;
    margin-left: 89px;
}

.calendar__title {
    display: flex;
    flex-flow: row;
    align-items: center;
    justify-content: center;
    margin-left: 34px;
}

.calendar__title p {
    font-family: CatamaranBold;
    font-size: 35px;
    color: gray;
    margin-left: 30px;
    padding-top: 20px;
}

.title__operation {
    font-family: CatamaranBold;
    color: #2B2D2F;
    margin-left: 150px;
    font-size: 48px;
    margin-top: 65px;
}

.calendar--image {
    height: 30px;
}

.content__schedules {
    width: 2000px;
    height: 900px;
    background-color: #ECECEC;
    margin: 90px;
}

.content__hours {
    border-bottom: 1px solid black;
}

.schedules__title {
    font-family: CatamaranBold;
    font-size: 35px;
    margin-left: 45px;
}

.restaurant__hours {
    font-family: CatamaranNormal;
    color: green;
    margin-left: 89px;
    margin-bottom: 33px;
}

.restaurant__location {
    font-family: CatamaranBold;
    color: gray;
    margin-left: 89px;
}

.restaurant__station {
    font-family: CatamaranNormal;
    color: gray;
    margin-left: 89px;
    margin-bottom: 33px;
}

.restaurant__food {
    font-family: CatamaranNormal;
    color: gray;
    margin-left: 89px;
    margin-bottom: 33px;
}

.facebook__title {
    display: flex;
    flex-flow: row;
    margin-left: 34px;
    padding-top: 28px;
}

.facebook__title p {
    font-family: CatamaranBold;
    font-size: 20px;
    color: crimson;
    margin-left: 23px;
}

.content__facebook {
    width: 500px;
    height: 255px;
    background-color: #ECECEC;
    box-shadow: 5px 10px black;
    margin-top: 200px;
    margin: 55px;
}

.facebook--image {
    height: 30px;
}

.content__twitter {
    width: 500px;
    height: 255px;
    background-color: #ECECEC;
    box-shadow: 5px 10px black;
    margin-top: 70px;
    margin: 55px;
}

.twitter__title {
    display: flex;
    flex-flow: row;
    margin-left: 34px;
    padding-top: 28px;
}

.twitter__title p {
    font-family: CatamaranBold;
    font-size: 20px;
    color: crimson;
    margin-left: 23px;
}

.twitter--image {
    height: 30px;
}

.content__link {
    display: flex;
    flex-flow: row;
    margin-left: 20px;
    padding-top: 28px;
}

.content__link p {
    font-family: LatoLight;
    font-size: 18px;
    color: #3366CC;
    margin-left: 23px;
}

.staff__list {
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    padding-right: 300px;
    padding-left: 300px;
    padding-top: 35px;
}

.staff--stacy {
    border-radius: 50%;
    width: 250px;
}

.stacy__name {
    font-family: CatamaranBold;
    color: #2B2D2F;
    font-size: 12px;
}

.stacy__job {
    font-family: LatoLight;
    color: gray;
    font-size: 17px;
}

.stacy__contact {
    font-family: LatoLight;
    color: gray;
    font-size: 17px;
}

.staff--kellie {
    border-radius: 50%;
    width: 250px;
}

.kellie__name {
    font-family: CatamaranBold;
    color: #2B2D2F;
    font-size: 12px;
}

.kellie__job {
    font-family: LatoLight;
    color: gray;
    font-size: 17px;
}

.kellie__contact {
    font-family: LatoLight;
    color: gray;
    font-size: 17px;
}

.staff--john {
    border-radius: 50%;
    width: 250px;
}

.john__name {
    font-family: CatamaranBold;
    color: #2B2D2F;
    font-size: 12px;
}

.john__job {
    font-family: LatoLight;
    color: gray;
    font-size: 17px;
}

.john__contact {
    font-family: LatoLight;
    color: gray;
    font-size: 17px;
}

.staff--aaron {
    border-radius: 50%;
    width: 250px;
}

.aaron__name {
    font-family: CatamaranBold;
    color: #2B2D2F;
    font-size: 12px;
}

.aaron__job {
    font-family: LatoLight;
    color: gray;
    font-size: 17px;
}

.aaron__contact {
    font-family: LatoLight;
    color: gray;
    font-size: 17px;
}

.staff--mike {
    border-radius: 50%;
    width: 250px;
}

.mike__name {
    font-family: CatamaranBold;
    color: #2B2D2F;
    font-size: 12px;
}

.mike__job {
    font-family: LatoLight;
    color: gray;
    font-size: 17px;
}

.mike__contact {
    font-family: LatoLight;
    color: gray;
    font-size: 17px;
}

.staff--lora {
    border-radius: 50%;
    width: 250px;
}

.lora__name {
    font-family: CatamaranBold;
    color: #2B2D2F;
    font-size: 12px;
}

.lora__job {
    font-family: LatoLight;
    color: gray;
    font-size: 17px;
}

.lora__contact {
    font-family: LatoLight;
    color: gray;
    font-size: 17px;
}

.staff--molli {
    border-radius: 50%;
    width: 250px;
}

.molli__name {
    font-family: CatamaranBold;
    color: #2B2D2F;
    font-size: 12px;
}

.molli__job {
    font-family: LatoLight;
    color: gray;
    font-size: 17px;
}

.molli__contact {
    font-family: LatoLight;
    color: gray;
    font-size: 17px;
}

.staff--randy {
    border-radius: 50%;
    width: 250px;
}

.randy__name {
    font-family: CatamaranBold;
    color: #2B2D2F;
    font-size: 12px;
}

.randy__job {
    font-family: LatoLight;
    color: gray;
    font-size: 17px;
}

.randy__contact {
    font-family: LatoLight;
    color: gray;
    font-size: 17px;
}

.staff--philip {
    border-radius: 50%;
    width: 250px;
}

.philip__name {
    font-family: CatamaranBold;
    color: #2B2D2F;
    font-size: 12px;
}

.philip__job {
    font-family: LatoLight;
    color: gray;
    font-size: 17px;
}

.philip__contact {
    font-family: LatoLight;
    color: gray;
    font-size: 17px;
}

.footer {
    background-color: gray;
    height: 305px;
    width: 100%;
    margin-top: 110px;
    padding-bottom: 15px;
}

.footer__event {
    margin-left: 60px;
    padding-top: 25px;
}

.footer__row {
    display: flex;
    flex-flow: row;
    justify-content: space-between;
}

.event--title {
    color: white;
    font-family: CatamaranBold;
    font-size: 23px;
}

.event--update {
    font-family: LatoLight;
    color: white;
    font-size: 18px;
}

.footer__location {
    display: flex;
}

.footer__address {
    margin-right: 60px;
    padding-top: 25px;
}

.address--university {
    color: white;
    font-family: CatamaranBold;
    font-size: 23px;
}

.address--description {
    color: white;
    font-family: LatoLight;
    font-size: 18px;
}

.footer__conclusion {
    color: white;
    background-color: gray;
    font-family: LatoLight;
    margin-left: 510px;
    font-size: 13px;
}